{% extends 'base.html' %}

{% block meta %}
<title>Create New Advertisement</title>
{% endblock meta %}

{% block content %}

<body>
    <div class="col d-flex justify-content-center" style="margin-top: 100px;">
        <div class="card login-form" style="width: 30rem;">
            <div class="card-body">
                <h1 class="card-title text-center">
                    Add New Advertisement
                </h1>
                <div class="card-text">
                    <form method="POST" action="">
                        {% csrf_token %}
                        <div class="container">
                            <div class="row mt-5 mb-2">
                                <tr>
                                <td>Advertisement Title</td>
                                <td><input type="text" name="title" placeholder="Enter Task Title" class="form-control"></td>
                                </tr>
                                </div>   
                                <div class="row mb-5">
                                    <tr>
                                    <td>Advertisement Description</td>
                                    <td><input type="text" name="description" placeholder="Enter Task Description" class="form-control"></td>
                                </tr>
                                </div>
                                <div class="row mb-3">
                                    <tr>
                                        <td><button type="submit" class="btn btn-primary">Submit</button></td>
                                    </tr>
                                </div>
                        </div>
                    </form>
                </body>
                </div>
            </div>
        </div>
    </div>






{% endblock content %}