{% extends 'base.html' %}
{% load static %}

{% block meta %}
<title>Homepage</title>
<link rel="stylesheet" href="{% static 'css/style.css' %}">
{% endblock meta %}


{% block content %}
<script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
<div class="background_home">
    <video autoplay loop muted plays-inline class="videobg">
        <source src="/static/img/videobg.mp4" type="video/mp4">
    </video>
    <div class="content">
        <h1>Ariculture</h1>
        <a href="#about">Learn More</a>
    </div>
</div>
<div class="bg2" id="about">
    <h2 class = "color-blue about"> About us </h2>
    <div class=  "bg2c">
        <div style="width: 80% ; background-color: beige; transform: translateY(10%);">
            <div class = "div1" style="color: black;">
                <p>Ariculture is a website that is designed to help farmers around Indonesia to be able to promote and cultivate their lands. Then, Agriculture also hopes that with this
                    app farmers all around Indonesia be able to obtain the right information regarding the best possible way to create a farm.
                </p>
            </div>
                <div class="farmer">
                    <img class="img2" src="/static/img/farmergiff.gif" alt="farmer" class="farmer">
                </div>
        </div>
    </div>
</div>
<div class="ourteam">
<div class="container">
    <h1 class="heading"><span>meet </span>Our Team</h1>

    <div class="profiles">
      <div class="profile">
        <img src="/static/img/NA.jpg" class="profile-img">

        <h3 class="user-name">Nicolas</h3>
        <h5>Homepage</h5>
        <h5>Module</h5>
        <p>International Class: 2106720973</p>
      </div>
      <div class="profile">
        <img src="/static/img/david.jpg" class="profile-img">

        <h3 class="user-name">David</h3>
        <h5>Review</h5>
        <h5>Module</h5>
        <p>International Class: 2106720866</p>
      </div>
      <div class="profile">
        <img src="/static/img/moza.jpg" class="profile-img">

        <h3 class="user-name">Moza</h3>
        <h5>News</h5>
        <h5>Module</h5>
        <p>International Class: 2106657292</p>
      </div>
    </div>
  </div>

    <div class="container">
    
        <div class="profiles">
          <div class="profile">
            <img src="/static/img/jovian.jpg" class="profile-img">
    
            <h3 class="user-name">Jovian</h3>
            <h5>Farm Land</h5>
            <h5>Module</h5>
            <p>International Class: 2106720891</p>
          </div>
          <div class="profile">
            <img src="/static/img/ai.jpg" class="profile-img">
    
            <h3 class="user-name">Raizaz</h3>
            <h5>Account</h5>
            <h5>Module</h5>
            <p>International Class: 2106657815</p>
          </div>
          <div class="profile">
            <img src="/static/img/gazian.jpg" class="profile-img">
    
            <h3 class="user-name">Ghazian</h3>
            <h5>Advertisement</h5>
            <h5>Module</h5>
            <p>International Class: 2106656522</p>
          </div>
        </div>
      </div>
    </div>
            


{% endblock content %}

